.popup__button-submit_disabled {
  opacity: 0.2;
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
