.profile__add-button {
  width: 22px;
  height: 22px;
  border: 2px solid #ffffff;
  padding: 14px 65px;
  margin-left: auto;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 619px) {
  .profile__add-button {
    margin: 22px auto;
    width: 100%;
    padding: 14px 0;
  }
}
